@import url("https://fonts.google.com/specimen/Kumbh+Sans");



*{
    box-sizing: border-box;
    margin: 0;

}

body{

    font-family: "Kumbh Sans" , sans-serif;
}

.nav{
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 35px;
    gap: 35px;
}

.small{

}

.middle{
    display: flex;
    gap: 50px;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 5px;

}


.thumbnails{
    display: flex;
    width: 250px;
    gap: 2px;

}

.right{
    display: flex;
    flex-direction: column;
}

.heading{
    color: rgb(95, 66, 11);
}

.fall{
    font-size: 40px;
    font-weight: bold;
}

.para{
    font-size: small;
}

.calculation{
    margin-top: 30px;
    display: flex;
}

.one {
    font-size: 20px;
    color: black;
}

.two{
    background-image: linear-gradient(
        180deg,
        rgb(225, 177, 87, 0.3)
        rgb(212, 187, 187)
    );

    color: orange;

    width: 5px;

    height: 2px;

    font-size: 3px;

    margin-left: 7px;

}

.three{

    color:darkgray;
    font-size: 5px;
}

.cartcontainer{
    margin-top: 120px;
    display: flex;
    gap: 7px;

}

button{
    display: flex;
    justify-content: center;
    gap: 4px;
    background-color: orange;
    color: white;
    width: 150px;
    height: 40px;
}

.carticon{
    color: white;

}

.sneakers{
    font-size: 30px;
    font-weight: bold;

}


.image1{
    
}

.avatar{
    justify-self: flex-end;
    align-self: flex-end;
    margin-left: 0;
}
